<div [@routerTransition]>
        <app-menu></app-menu>
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colum_select" *ngIf="Table">
                <div class="w-100 h-auto d-block mt-auto">
                    <h1 style="color:#44D62C;">Productos</h1>
                </div>
                <div class="d-block" id="inicio">
                    <ul class="list-group p-20 filtrosUL container_productos">
                        <li class="list-group-item" *ngFor="let data of Table" [routerLink]="['/productos/'+id+'/',data.id]" (click)="cargarSingle(data.id);scrollMyDiv('inicio');" [class.active]="selectedData && (+selectedData.id==data.id)">
                            <h3>
                                {{data.marcas.padre.nombre}} -
                                {{data.marcas.nombre}} -
                                {{data.nombre}}
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="selectedData">
                <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=0 *ngIf="selectedData.hasModel"
                    (render)="mainRenderer.render()" id="mainControls">
                    <atft-webgl-renderer #mainRenderer style="height: 100vh;">
                        <atft-perspective-camera [fov]="selectedData.fov" [near]="selectedData.near" [far]="selectedData.far"
                            positionX={{selectedData.pX}} positionY={{selectedData.pY}} positionZ={{selectedData.pZ}}>
                        </atft-perspective-camera>
                        <atft-scene>
                            <atft-point-light [color]="configModel.color" intensity="0.9" distance="100" translateX=50 translateY=50 translateZ=50></atft-point-light>
                            <atft-point-light [color]="configModel.color" intensity="0.5" distance="100" translateX=-50 translateY=20 translateZ=-50></atft-point-light>
                            <atft-point-light [color]="configModel.color" intensity="0.8" distance="200" translateX=0 translateY=-20 translateZ=0></atft-point-light>
                            <!-- <atft-axes-helper size=300></atft-axes-helper> -->
                            <!-- <atft-grid-helper size=200 divisions=20></atft-grid-helper> -->
                            <atft-obj-loader
                            (render)="mainRenderer.render()"
                            model="{{selectedData.model}}"
                            material="{{selectedData.material}}"
                            rotateX={{selectedData.rX}}
                            rotateY={{selectedData.rX}}
                            rotateZ={{selectedData.rX}}
                            translateX={{selectedData.tX}}
                            translateZ={{selectedData.tZ}}
                            translateY={{selectedData.tY}}>
                            </atft-obj-loader>
                        </atft-scene>
                    </atft-webgl-renderer>
                </atft-orbit-controls>
                <div class="galeria" id="galeria"  *ngIf="!selectedData.hasModel">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="margin:auto;"></ngx-gallery>
                </div>
                <div class="w-100 d-block" id="tabla1" *ngIf="selectedData.presentaciones">
                    <table class="table table-hover" *ngIf="selectedData.presentaciones.length>0" [mfData]="selectedData.presentaciones" #mf="mfDataTable" [mfRowsOnPage]="4">
                        <thead>
                            <tr>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="cuello">Cuello</mfDefaultSorter>
                                </th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="peso">Peso (Gr)</mfDefaultSorter>
                                </th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="altura">Altura(mm)</mfDefaultSorter>
                                </th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="unidades">Unidades</mfDefaultSorter>
                                </th>
                                <th style="width:20%;">
                                  <mfDefaultSorter by="material">Material</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                                <td>
                                  <div>
                                    {{ data.cuello }}
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    {{ data.peso }}
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    {{ data.altura }}
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    {{ data.unidades }}
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    {{ data.material }}
                                  </div>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
