<div [@routerTransition]>
    <app-menu></app-menu>
    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  d-flex colum_select" *ngIf="Table">
            <ul class="list-group p-20 filtrosUL container_productos">
                <li class="list-group-item" *ngFor="let data of Table" (click)="cargarSingle(data.id)" [class.active]="+selectedData.id==data.id"><h3>{{data.nombre}}</h3></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="selectedData">
            <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=0 *ngIf="selectedData.hasModel"
                (render)="mainRenderer.render()" id="mainControls">
                <atft-webgl-renderer #mainRenderer style="height: 100vh;">
                    <atft-perspective-camera [fov]="selectedData.fov" [near]="selectedData.near" [far]="selectedData.far"
                        positionX={{selectedData.pX}} positionY={{selectedData.pY}} positionZ={{selectedData.pZ}}>
                    </atft-perspective-camera>
                    <atft-scene>
                        <atft-point-light [color]="configModel.color" intensity="0.9" distance="100" translateX=50 translateY=50 translateZ=50></atft-point-light>
                        <atft-point-light [color]="configModel.color" intensity="0.5" distance="100" translateX=-50 translateY=20 translateZ=-50></atft-point-light>
                        <atft-point-light [color]="configModel.color" intensity="0.8" distance="200" translateX=0 translateY=-20 translateZ=0></atft-point-light>
                        <!-- <atft-axes-helper size=300></atft-axes-helper> -->
                        <!-- <atft-grid-helper size=200 divisions=20></atft-grid-helper> -->
                        <atft-obj-loader
                        (render)="mainRenderer.render()"
                        model="{{selectedData.model}}"
                        material="{{selectedData.material}}"
                        rotateX={{selectedData.rX}}
                        rotateY={{selectedData.rX}}
                        rotateZ={{selectedData.rX}}
                        translateX={{selectedData.tX}}
                        translateZ={{selectedData.tZ}}
                        translateY={{selectedData.tY}}>
                        </atft-obj-loader>
                    </atft-scene>
                </atft-webgl-renderer>
            </atft-orbit-controls>
            <div class="galeria"  *ngIf="!selectedData.hasModel">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="margin:auto;"></ngx-gallery>
            </div>
        </div>
    </div>

</div>
