
<div class="row header-ingrup">

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-3 ml-3">
            <img src="./../../../../assets/images/loco-completo.png" [routerLink]="['./../../home']" class="logo pointer">
            <!-- <img src="./../../../../assets/images/Mercados/Modulo-1/logo.png" [routerLink]="['./../../home']" class="logo"> -->
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mx-auto">
                <h1 class="h1 text-ingrup my-auto">
                    Mercados
                </h1>
            </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 menu-ingrup">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of Table" >
                  <ng-template carouselSlide>

                    <a style="list-style: none;text-decoration: none;" (click)="TablesComponent.cargarOfCate(slide.id,true)" [routerLink]="['/mercados',slide.id]" >
                        <div class="panel-ingrup" [routerLinkActive]="['active']">
                            <div class="ingrup-content">
                                <div class="panel-body-ingrup">
                                    <img [src]="slide.foto" class="menu-item-ingrup" >
                                </div>
                                <div class="panel-title-ingrup">
                                    <h3 [class.largo]="slide.nombre.length>20">{{slide.nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div [routerLinkActive]="['show']" class="downRow">
                                <img src="./../../../../assets/images/Mercados/Modulo-1/flechaAb.png" class="m-auto" style="width: 20%;height:auto;">
                        </div>
                    </a>

                  </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>


    </div>
