
<div class="row header-ingrup">

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 menu-ingrup">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of carouselData" >
                  <ng-template carouselSlide>
                    <a class="panel-ingrup" >
                            <div class="ingrup-content">
                                <div class="panel-body-ingrup">
                                    <img [src]="slide.src" class="menu-item-ingrup" >
                                </div>
                                <div class="panel-title-ingrup">
                                    <h3 class="">{{slide.text}}</h3>
                                </div>
                            </div>
                    </a>
                  </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>

    </div>
