<div [@routerTransition]>
    
    <div class="container-fluid">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-3 ml-3 logo_contacto" style="position: absolute;z-index: 99;">
            <img src="./../../../../assets/images/logo-animado2.gif" [routerLink]="['./../home']" class="logo fondo pointer">
            <!-- <img src="./../../../../assets/images/Mercados/Modulo-1/logo.png" [routerLink]="['./../../home']" class="logo"> -->
        </div>
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_pd">
                <a target="_blank" href="../../../assets/informe-pptx/Informe-de-Sostenibilidad-2018-Mayo-2019--Cambios.pdf" download="Informe_sostenibilidad.pdf">
                    <img class="w-100 pc" src="../../../assets/images/Sostenibilidad/informe/cover.png">
                    <img class="w-100 mb" src="../../../assets/images/Sostenibilidad/informe/covermb.png">
                </a>
            </div>
           
        </div>
    </div>
</div>
