<div [@routerTransition]>
    
    <div class="container-fluid">

        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no_pd">
                <a target="_blank" href="../../../assets/informe-pptx/Informe-de-Sostenibilidad-2018-Mayo-2019--Cambios.pdf" download="Informe_sostenibilidad.pdf">
                    <img class="w-100 pc" src="../../../assets/images/Sostenibilidad/informe/cover.png">
                    <img class="w-100 mb" src="../../../assets/images/Sostenibilidad/informe/covermb.png">
                </a>
            </div>
           
        </div>
    </div>
</div>
