<div [@routerTransition]>
    <app-header></app-header>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 menu-ingrup m-auto" *ngIf="Marcas">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of Marcas.submarca" >
                <ng-template carouselSlide dataHash="slide.id">

                    <a style="list-style: none;text-decoration: none;" (click)="cargarOfCate(slide.id,true)" [routerLink]="['/mercados/'+id+'/',slide.id]" >
                        <div class="panel-ingrup sub_menu_panel" [class.active]="idF==slide.id" >
                            <div class="ingrup-content sub_menu_content">
                                <div class="panel-body-ingrup">
                                    <img [src]="slide.foto" class="menu-item-ingrup" >
                                </div>
                                <div class="panel-title-ingrup title_sub_produc">
                                    <h3 class="">{{slide.nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div [routerLinkActive]="['show']" class="downRow">
                                <img src="./../../../../assets/images/Mercados/Modulo-1/flechaAb.png" class="m-auto" style="width: 20%;height:auto;">
                        </div>
                    </a>

                </ng-template>
                </ng-container>
            </owl-carousel-o>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  d-flex colum_select" *ngIf="Table">
            <ngb-accordion  class="p-20 filtrosAccordeon container_productos" #filtros="ngbAccordion" >
                <ngb-panel *ngFor="let data of Table">
                    <ng-template ngbPanelTitle class="w-100">
                    <h3>{{data.nombre}}</h3>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <ul *ngIf="selectedData">
                        <li *ngFor="let prod of data.productos" (click)="cargarSingle(prod.id)" [class.active]="+selectedData.id==prod.id">
                            {{prod.nombre}}
                        </li>
                    </ul>
                    <ul *ngIf="!selectedData">
                        <li *ngFor="let prod of data.productos" (click)="cargarSingle(prod.id)">
                            {{prod.nombre}}
                        </li>
                    </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngIf="selectedData">
            <atft-orbit-controls [rotateSpeed]=1 [zoomSpeed]=0 *ngIf="selectedData.hasModel"
                (render)="mainRenderer.render()" id="mainControls">
                <atft-webgl-renderer #mainRenderer style="height: 100vh;">
                    <atft-perspective-camera [fov]="selectedData.fov" [near]="selectedData.near" [far]="selectedData.far"
                        positionX={{selectedData.pX}} positionY={{selectedData.pY}} positionZ={{selectedData.pZ}}>
                    </atft-perspective-camera>
                    <atft-scene>
                        <atft-point-light [color]="configModel.color" intensity="0.9" distance="100" translateX=50 translateY=50 translateZ=50></atft-point-light>
                        <atft-point-light [color]="configModel.color" intensity="0.5" distance="100" translateX=-50 translateY=20 translateZ=-50></atft-point-light>
                        <atft-point-light [color]="configModel.color" intensity="0.8" distance="200" translateX=0 translateY=-20 translateZ=0></atft-point-light>
                        <!-- <atft-axes-helper size=300></atft-axes-helper> -->
                        <!-- <atft-grid-helper size=200 divisions=20></atft-grid-helper> -->
                        <atft-obj-loader
                        (render)="mainRenderer.render()"
                        model="{{selectedData.model}}"
                        material="{{selectedData.material}}"
                        rotateX={{selectedData.rX}}
                        rotateY={{selectedData.rX}}
                        rotateZ={{selectedData.rX}}
                        translateX={{selectedData.tX}}
                        translateZ={{selectedData.tZ}}
                        translateY={{selectedData.tY}}>
                        </atft-obj-loader>
                    </atft-scene>
                </atft-webgl-renderer>
            </atft-orbit-controls>
            <div class="galeria"  *ngIf="!selectedData.hasModel">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="margin:auto;"></ngx-gallery>
            </div>
        </div>
    </div>

</div>
