<div [@routerTransition]>

    <div class="row first_row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-3 ml-3 ">
                <img src="./../../../../assets/images/loco-completo.png" [routerLink]="['./../home']" class="logo pointer fondo">
                <!-- <img src="./../../../../assets/images/Mercados/Modulo-1/logo.png" [routerLink]="['./../../home']" class="logo"> -->
        </div>
        <div class="row pt-10 p-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="title_page text-rigth">Nosotros</h2>
            </div>
        </div>
    </div>

    <div class="row no-margin no-padding">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 proposito">
            <div>
                <h1>
                    PROPÓSITO
                </h1>
            </div>

            <div>
                <h5>
                    Agregar valor a las marcas de nuestros clientes con soluciones de empaque confiable, innovador y amigables con el medio ambiente.
                </h5>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="./../../../assets/images/Nosotros/Imagen3.png" style="transform: rotate(180deg)" class="h-100 w-100">
        </div>

    </div>

    <div class="row">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 collage">
            <div>
                <h1>
                    Valores
                </h1>
            </div>
            <div>

                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="./../../../assets/images/Nosotros/integridad.png" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="./../../../assets/images/Nosotros/confianza.png" alt="">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="./../../../assets/images/Nosotros/compromiso.png" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row no-margin no-padding">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage1.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage2.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage3.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage4.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage5.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage6.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage7.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage8.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage9.png" class="collage-50">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                <img src="./../../../assets/images/Nosotros/collage10.png" class="collage-50">
            </div>

        </div>


    </div>


    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 d-flex historia-1-iz">
            <img src="./../../../assets/images/Nosotros/factory.png" class="m-auto">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 historia-1-der">

            <div class="historia-texto">
                <h1 class="historia-titulo">
                        HISTORIA
                </h1>
                <h3 class="historia-sub-titulo">
                    Iniciamos operaciones en 1974
                </h3>
                <p class="historia-parrafo">
                    Elaborando cajas, cajillas, envases, preformas para envases, tapas, productos de rotomoldeo y otros productos para el hogar.
                </p>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 d-flex historia-2-iz">
            <img src="./../../../assets/images/Nosotros/press.png" class="m-auto">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 historia-2-der">
            <div class="historia-texto">
                <h3 class="historia-sub-titulo">
                    En 1981 iniciamos con la fabricación
                </h3>
                <p class="historia-parrafo">
                    de empaques, flexibles, poductos de impresion litográfica, etiquetas, cajillas, vasos y tapa corona.
                </p>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 d-flex historia-3-iz">
            <img src="./../../../assets/images/Nosotros/recycling-center.png" class="m-auto">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 historia-3-der">

            <div class="historia-texto">
                <h3 class="historia-sub-titulo">
                    En 1995 fundamos la primera planta industral de reciclaje
                </h3>
                <p class="historia-parrafo">
                    en la región, asi tambien la planta de fabricación de preformas y botellas PET para el mercado de bebidas carbonatadas y no carbonatadas.
                </p>

            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 d-flex historia-4-iz">
            <img src="./../../../assets/images/Nosotros/factory1.png" class="m-auto">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 historia-4-der">
            <div class="historia-texto">
                <h3 class="historia-sub-titulo">
                    En 2013 instalamos una planta incorporando el proceso denominado Botella a Botella
                </h3>
                <p class="historia-parrafo">
                    el cual permite recuperar envases plásticos de PET del mercado, transformarlos en materia prima aprobada por la FDA (Food and Drugs Administration) para la elaboración de nuevos envases.
                </p>

            </div>
        </div>

    </div>

    <div class="row politicas">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 politica-mejora d-flex text-center">
            <div class="w-50 m-auto border border-light p-3">
                <h1>
                    POLÍTICA DE GESTIÓN DE MEJORA
                </h1>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row no-margin no-padding politicas-mejora">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="h-50 w-auto">
                    <img src="./../../../assets/images/Nosotros/Imagen1.png" class="h-100 w-auto">
                </div>
                <div class="h-50 w-auto">
                    <img src="./../../../assets/images/Nosotros/Imagen2.png" class="h-100 w-auto">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="h-100 w-100">
                    <img src="./../../../assets/images/Nosotros/Imagen3.png" class="w-auto h-100">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="h-50 w-auto">
                    <img src="./../../../assets/images/Nosotros/Imagen4.png" class="h-100 w-auto">
                </div>
                <div class="h-50 w-auto">
                    <img src="./../../../assets/images/Nosotros/Imagen5.png" class="h-100 w-auto">
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding no-margin">
            <img src="./../../../assets/images/Nosotros/flecha-abajo.png" class="w-100">
        </div>

    </div>


    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 politica ml-auto col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 politica">

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 politica">

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 politica mr-auto">

        </div>
    </div>


    <div class="row politica-2 no-padding">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <img src="./../../../assets/images/Nosotros/politica1.png" class="h-auto">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <img src="./../../../assets/images/Nosotros/politica2.png" class="h-auto">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <img src="./../../../assets/images/Nosotros/politica3.png" class="h-auto">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <img src="./../../../assets/images/Nosotros/politica4.png" class="h-auto">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <owl-carousel-o [options]="customOptions2" style="height: 100vh;width:100%;">
                    <ng-container *ngFor="let slide of carouselData; let i = index" style="margin:auto;">
                      <ng-template carouselSlide>
                        <img [src]="slide.src" class="mx-3">
                      </ng-template>
                    </ng-container>

            </owl-carousel-o>
        </div>
    </div>







    <!--
    <div class="row vh-100">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 contain_img h-100 padding-0">
                <iframe class="video" src="https://www.youtube.com/embed/Yl8jaxlKnWM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col_green h-100">

        </div>

    </div>
    <div class="row padding-h-5 padding-w-5 row_mvp">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex center">
            <div class="container_data">
                <p class="title_card">Misión</p>
                <p class="description_card">Proveemos soluciones de empaque a nivel regional, mediante tecnología de punta y un equipo humano competente y comprometido, generando beneficios para nuestros clientes, inversionistas y colaboradores.</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex center">
            <div class="container_data">
                <p class="title_card">Visión</p>
                <p class="description_card">Ser el proveedor más confiable e innovador de empaques.</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d-flex center">
            <div class="container_data">
                <p class="title_card">Propósito</p>
                <p class="description_card">Agregar valor a las marcas de nuestros clientes con soluciones de empaque confiables, innovadores y amigables con el ambiente.</p>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="row">
            <h3 class="title_valores">Valores</h3>
        </div>

        <div class="row padding-w-5">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="img_valores">
                    <img class="w-100" src="../../../assets/images/Nosotros/Modulo-2/Integridad-cuadro.png">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="img_valores">
                    <img class="w-100" src="../../../assets/images/Nosotros/Modulo-2/Confianza-cuadro.png">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="img_valores">
                    <img class="w-100" src="../../../assets/images/Nosotros/Modulo-2/Compromiso-cuadro.png">
                </div>
            </div>

        </div>

    </div>

    <div class="row vh-100">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 img_personas">

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 politicas_calidad">
            <h2 class="title_politica">Política de Calidad</h2>
            <p class="sub_title">POLÍTICA DE GESTIÓN DE MEJORA</p>
            <p class="description_politica">Debemos buscar continuamente la excelencia en el negocio de empaques. Utilizando sistemas de gestión eficaces de calidad, inocuidad, salud y seguridad ocupacional, medio ambiente y responsabilidad social, con recurso humano altamente competente y comunicación efectiva, para obtener la confianza y la satisfacción de nuestros clientes y de las partes interesadas, respetando el marco legal y cumpliendo los compromisos acordados.</p>
        </div>

    </div>

    <div class="row padding-w-15 padding-h-5 row_mvp hieght_row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card_producto">
                <img class="logo_card" src="../../../assets/images/Nosotros/Modulo-4/calidad_e_inocuidad.png">
                <h4 class="title_1">Calidad e Inocuidad</h4>
                <p class="description_card">La inocuidad de nuestros empaques y cumplimiento con la calidad acordada</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card_producto">
                <img class="logo_card" src="../../../assets/images/Nosotros/Modulo-4/salud_y_seguridad.png">
                <h4 class="title_2">Salud y Seguridad Ocupacional</h4>
                <p class="description_card">Prevenir, controlar y eliminar los riesgos para nuestros colaboradores.</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card_producto">
                <img class="logo_card" src="../../../assets/images/Nosotros/Modulo-4/medio_ambiente.png">
                <h4 class="title_3">Medio Ambiente</h4>
                <p class="description_card">Prevenir, minimizar y controlar los riesgos de impacto ambiental y fomentar las 4R's (Reducir, Reutilizar, Reciclar y Reforestar).</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card_producto">
                <img class="logo_card" src="../../../assets/images/Nosotros/Modulo-4/social.png">
                <h4 class="title_4">Responsabilidad Social</h4>
                <p class="description_card">Cumplir y fomentar los principios de responsabilidad social por medio de la transparencia y comportamiento honesto y ético, cumpliendo nuestros valores de compromiso, integridad y confianza.</p>
            </div>
        </div>
    </div>
    <div class="row footer">

    </div>
     -->
</div>
