/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}


@font-face{
   font-family: "RobotoMedium";
   src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: "RobotoBold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
 }
 @font-face{
    font-family: "RobotoLight";
    src: url(../assets/fonts/Roboto-Light.ttf);
 }
 body{
    font-family: RobotoMedium,RobotoBold;
 }
.owl-carousel .owl-stage {
    display: flex!important;
    align-items: center!important;
}
.owl-carousel .owl-item{
    margin:auto!important;
}
  .owl-carousel,.caption {
    text-align: center!important;
  }
.menu-ingrup .owl-theme .owl-nav .owl-prev{
    position: absolute;
    background: none!important;
    left: -5%;
    top:30%;
}

.menu-ingrup .owl-theme .owl-nav .owl-next{
    position: absolute;
    background: none!important;
    right: -5%;
    top:30%;
}

.menu-ingrup .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #44D62C!important;
    padding: 0.5rem;
}

.menu-ingrup .owl-theme .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot span{
    background-color: #ffffff!important;
    padding: 0.5rem;
    border: #A2A2A2 solid 0.05rem;
}
.filtrosAccordeon .card{
    background-color: #ffffff;
    border: none;
}

.filtrosAccordeon .btn-link{
    text-decoration: none;
   }
   .filtrosAccordeon button.collapsed h3{
    .filtrosAccordeon .card .card-header {
        background-color: #ffffff!important;
    }
    color: #999!important;
    background-color: #ffffff!important;
    text-decoration: none;
}
.filtrosAccordeon .btn-link h3{
    color:#ffffff;
    text-decoration: none;
}
.filtrosAccordeon h3:hover{
    color:#ffffff;
    text-decoration: none;
   }
.filtrosAccordeon .card .card-header {
    background-color: #ffffff;

}
div[id^='ngb-panel']{
    -webkit-transition: display 3s ease-in-out;
        -moz-transition: display 3s ease-in-out;
           -ms-transition: display 3s ease-in-out;
            -o-transition: display 3s ease-in-out;
                   transition: display 3s ease-in-out;
}
div[id^='ngb-panel'] ul{
    list-style: none;
    padding-left: 3rem;
    color: #999;
    cursor: pointer;
    // font-size: 1.5rem;
}

div[id^='ngb-panel'] ul li.active{
    color: #44D62C;
    cursor: pointer;
    // font-size: 1.5rem;
}
.filtrosAccordeon{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: auto;
}

.pointer{
    cursor: pointer;
}
.container_mapas{
    display: inline-grid;
    width: 100%;
}
.container_mapas .card{
    width: 100% !important;
}
.container_mapas .card{
    border: none !important;
}
.container_mapas .card .card-body {
    border: 2px solid #44D62C;
    border-radius: 1px 1px 9px 9px;
    margin-bottom: 5%;
    margin-top: -14px;
    color: #44D62C;
}
.container_mapas .card .bg-success{
    background-color: transparent;
    text-align: left;
    padding: 0px;
    border: 2px solid #44D62C;
    border-radius: 8px;
    margin-bottom: 2%;
}
.container_mapas .card button{
    color: white;
    margin-top: auto;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: #44D62C;
}
.container_mapas .card button img{
    content:url("../assets/images/flecha_blanca.png");
}
.container_mapas .card button.collapsed img{
    content:url("../assets/images/flecha.png");
}
.container_mapas .card button.collapsed{
    color: black;
    margin-top: auto;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: transparent
}

.container_mapas .card h3{
    width: fit-content;
}
/**New open button**/
.container_productos{
    display: inline-grid;
    width: 100%;
}
.container_productos .card-header{
    padding: 0 !important;
}
.container_productos .card{
    width: 100% !important;
}
.container_productos .card{
    border: none !important;
}
.container_productos .card .card-body {
    border: 2px solid #44D62C;
    border-radius: 1px 1px 9px 9px;
    margin-bottom: 5%;
    margin-top: -14px;
    color: #44D62C;
}
.container_productos .card .bg-success{
    background-color: transparent;
    text-align: left;
    padding: 0px;
    border: 2px solid #44D62C;
    border-radius: 8px;
    margin-bottom: 2%;
}
.container_productos .card button{
    color: white;
    margin-top: auto;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: #44D62C;
    padding: 0 !important;
}

.container_productos .card button.collapsed{
    color: black;
    margin-top: auto;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 0 !important;
}

.container_productos .card h3{
    width: fit-content;
}
.container_productos .card-header{
    padding: 0 !important;
}
.container_productos h3{
    padding: 1em !important;
}
.colum_select{
    padding-left: 5%;
}
.backVerde{
    background-color: #44D62C!important;
}
.mainCarousell{
    height: 100vh;
}
.mainCarousell .owl-carousel{
    height: 100%!important;
}
.mainCarousell .owl-carousel .owl-stage-outer{
    height: 100%!important;
}
.mainCarousell .owl-carousel .owl-stage-outer .owl-stage{
    height: 100%!important;
}
.videoCarousell{
    height: 30vh;
}
.videoCarousell .owl-carousel{
    height: 100%!important;
    width: auto;
}
.videoCarousell .owl-carousel .owl-stage-outer{
    height: 100%!important;
}
.videoCarousell .owl-carousel .owl-stage-outer .owl-stage{
    height: 100%!important;
}
.videoCarousell .owl-carousel .owl-item img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.transparentStyle{
    height: 100vh;
    position: absolute;
    width: 35%;
    top: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 999;
    font-family: RobotoMedium;
}
.mainStyle{
    height: 100vh;
    position: absolute;
    width: 65%;
    right: 0;
    top: 0;
    z-index: 1;
    color: #ffffff;
    font-family: RobotoMedium;
}
.transparentStyle .preview{
    height: 20%;
    background-color: #ffffff;
}
.transparentStyle .contanter{
    height: 80%;
}

.transparentStyle .contanter .logo{
    height: 5rem;
    width: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
}
.transparentStyle .contanter .logo>img{
    height: 100%;
    width: auto;
}
.transparentStyle .contanter.row,.transparentStyle .preview .row{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.d-grid{
    display: grid;
}


.videoCarousell .owl-theme .owl-nav .owl-prev{
    display: none;
}

.videoCarousell .owl-theme .owl-nav .owl-next{
    position: absolute;
    background: none!important;
    right: -10%;
    top:0%;
    height: 100%;
}
.videoCarousell .owl-theme .owl-nav .owl-next img{
    height: 100%;
}
.mb_auto img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px;
    border-radius: 52px;
}

canvas{
    max-height: 680px !important;
    max-width: 720px !important;
    height: 680px!important;
    width: 720px !important;

    margin: auto;
}
.text-ingrup{
    font-family: RobotoBold;
    color: rgb(76,73,74);
    font-size:3.5rem;

}
@media only screen and (max-width: 1000px){
    .first_slider .owl-carousel .owl-item img{
        height: 100vh !important;
        width: auto !important;

    }
    .menu-ingrup .owl-theme .owl-nav .owl-prev{
        left: -15%;
    }

    .menu-ingrup .owl-theme .owl-nav .owl-next{
        right: -15%;
    }
    .mainCarousell .owl-carousel .owl-item img{
        height: 100vh !important;
    }
    .mainCarousell .owl-item.ng-tns-c6-1.ng-trigger.ng-trigger-autoHeight.ng-star-inserted.active.cloned {
        width: auto !important;
    }
    .mainControls{
        height: 100%!important;
        width: 100%!important;
    }
    .title_home{
        margin-bottom: 0 !important;
        text-align: center;
    }
    .mainStyle{
        height: 100vh;
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        color: #ffffff;
        font-family: RobotoMedium;
    }
    .transparentStyle{
        display: none;
    }

   .videoCarousell{
        width: 100%!important;
        height: 25vh!important;
    }
    .videoCarousell .owl-carousel{
        height: 100%!important;
        width: auto;
    }
    .videoCarousell .owl-carousel .owl-stage-outer{
        height: 100%!important;
    }
    .videoCarousell .owl-carousel .owl-stage-outer .owl-stage{
        height: 100%!important;
    }
    .videoCarousell .owl-carousel .owl-item img{
        width: 80% !important;
        height: auto!important;
        margin-left: auto;
        margin-right: auto;
    }

    .videoCarousell .owl-theme .owl-nav .owl-next{
        position: absolute;
        background: none!important;
        right: 0%;
        top:0%;
        height: 100%;
    }
    .title_home{
        padding: 15%;
        padding-bottom: 0 !important;
    }
    .first_part{
        font-size: 1.5rem;
        font-family: 'RobotoLight' !important;
        margin-bottom: 0;
    }
    .secont_part{
        font-size: 1rem !important;
        font-family: 'RobotoLight' !important;
    }
    .sub_part{
        font-size:1.3rem;
        font-family: 'RobotoBold' !important;
    }
    .second_new{
        margin: 0 !important;
    }
    canvas{
        max-height: 568px !important;
        max-width: 320px !important;
        height: 568px !important;
        width: 320px !important;

        margin: auto;
    }
    .contain_img_row[_ngcontent-shn-c10] {
        background-size: 260% !important;
    }
    .title{
        margin-top: 10%;
    }
    .DescargaApp{
        margin-top: 10%;
    }
    .mb_auto img {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px -9px;
        border-radius: 19px;
    }
    .container_data{
        padding-bottom: 10%;
    }
}
