$verde: #44D62C;
$gris: #A2A2A2;
$Oscuro: #383838;
$blanco: #fff;
$morado: #A456B4;
$verde-c:#79C61B;
$rojo-c:#D83239;
$verde-2:#88C645;
$purpura: #9D3FD3;
$celeste:#50ABED;
$rosado: #E06B70;
.outer-link{
  display: block;
  border: 1px solid #000;
  span{
    display: inline-block;
    width: 100%;
  }
}
.botella-fondo{
    left: 0px;
    position: absolute;
    width: 50%;
    height: auto;
    z-index: -10;
}
h1,h2,h3,h4{
  font-family: RobotoBold;
}
p{
  font-family: RobotoMedium !important;
}
.contain_img_row div{
  text-align: center;
}
/*-----------CUERPO----------------*/
body{
  margin: 0 0 0 0;
  background-color: #fff;
}
.contenedor1{
  background-color: RGBA(128,128,128,0.10);
  margin: 0 0 0 0;
  width: 100%;
  background-image: url(../../../assets/images/Home/Modulo-1/fondo11.png);
  background-size: cover;

}
  .contain_img_row{
    background-image: url(../../../assets/images/Home/Modulo-1/fondo22.png);
    background-size: cover;
  }
  .container_title_row{
    padding-bottom: 10%;
  }
  /*-----------FABRICAMOS----------------*/
  .info1{
    margin-top: 10%;
    width: 50%;
    height: auto;
    float: left;
    display: inline-block;
  }
  .info1 h1{
    font-family: "RobotoMedium";
    font-weight: bold;
    font-size: 1.8em;
  }
  .div1{
    margin: 5% 0 0 15%;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 15px;
  }
  .div1 img{
    width: 300px;
    height: 380px;}
  .div2 img{
    width: 300px;
    height: 380px;}
  .div2{
    margin: 5% 0 0 -10%;
    text-align: center;
    display: inline-block;
  }
  .div3{
    margin: -10% 0 0% 15%;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 15px;
  }
  .div3 img{
    width: 300px;
    height: 380px;}
  .div4 img{
    width: 300px;
    height: 380px;}
  .div4{
    margin: -10% 0 0 -10%;
    text-align: center;
    display: inline-block;
  }
  .conoce{
    width: 65%;
    display: inline-block;
  }
  .container_button{
    height: fit-content;
  }
  /*-----------INFO2----------------*/
  .info2{
    width: 50%;
    height: auto;
    display: inline-block;
  }
  .puntos{
    position: absolute;
    margin: 5% 0 0 28%;
    display: inline-block;
  }
  .puntos2{
    position: absolute;
    margin: -15% 0 0 -2%;
    display: inline-block;
  }
  .botella img{
    margin: 5% 0 0 0;
    height: 1000px;
    width: auto;
  }
  .forma{
    margin: -22% 0 0 0;
  }
  .flecha{
    margin: -110% 0 0 75%;
  }
  .letra{
    margin: 55% 0 0 -5%;
  }
  .logoB img{
    width: 350px;
    margin: -90% 0 0 12%;
  }
  .logoI{
    width: 350px;
    margin: 0 0 0 10%;
    text-align: left;
    margin-left: 0;
    margin-bottom: -40%;
  }
  .contain_img_row{
    padding-top: 10%;
  }
  .logoI img{
    width: 100%;
    margin: auto
  }

  /*-----------EMPAQUES----------------*/
  .contenedor2{
    background-color: RGBA(128,128,128,0.03);
    margin: -10% 0 0 0;
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .info3 h1{
    margin: 15% 0 0 30%;
  }
  .puntos10 img{
    width: 200px;
    height: auto;
    margin: 0 0 0 82%;
  }
  .div11{
    margin: -10% 0 0 0%;
    float: left;
    display: inline-block;
  }
  .div12{
    margin: -15% 0 0 -5%;
    float: left;
    display: inline-block;
  }
  .div13{
    margin: -10% 0 0 -5%;
    float: left;
    display: inline-block;
  }
  .div14{
    margin: -5% 0 0 0%;
    float: left;
    display: inline-block;
  }
  .div15{
    margin: -10% 0 0 -5%;
    float: left;
    display: inline-block;
  }
  .div16{
    margin: -5% 0 0 -5%;
    float: left;
    display: inline-block;
  }
  .div17{
    margin: -7% 0 0 15%;
    float: left;
    display: inline-block;
  }
  .div18{
    margin: -7% 0 0 -5%;
    float: left;
    display: inline-block;
  }
  .puntos12{
    width: 200px;
    margin: 50% 0 0 3%;
    position: absolute;
    display: flex;
  }

  /*-----------PROPOSITO------------*/
  .contenedor3{
    background-color: RGBA(128,128,128,0.02);
    margin: 0% 0 0 0;
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .contenedor3 h3{
    font-family: "RobotoMedium";
    font-weight: bold;
    font-size: 1.8em;
    margin: 10% 0 0 20%;
  }
  .contenedor3 h1{
    font-family: "RobotoMedium";
    font-weight: bold;
    font-size: 2.8em;
    margin: 0% 0 0 20%;
    margin-bottom: 5%;
  }
  .div35 img{  /*elipse*/
    display: flex;
    width: 600px;
    margin: 10% 0 0 -25%;
    float: left;
  }
  .div36 img{  /*figura*/
    display: flex;
    width: 1300px;
    height: 750px;
    margin: -50% 0 0 0%;
    float: left;
  }
  .div31 img{
    height: 1000px;
    display: flex;
    float: left;
    margin: -60% 0 0 0%;
  }
  .div32 img{
    height: 800px;
    display: flex;
    float: left;
    margin: -45.5% 0 0 -4%;
  }
  .div33 img{
    height: 1000px;
    display: flex;
    float: left;
    margin: -60% 0 0 -3%;
  }
  .div34 img{
    height: 800px;
    display: flex;
    float: left;
    margin: -45.5% 0 0 -4%;
  }
  .div37 img{
    height: 1000px;
    display: flex;
    float: left;
    margin: -79% 0 0 86.5%;
  }

  /*-----------EMPAQUES----------------*/
  .footer{
    float: left;
    display: inline-block;
    width: 100%;
    height: 30%;
    background-color: #44D62C;
  }
  .DescargaApp{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 5% 0 0 0;
    color: white;
  }
  .DescargaApp h1{
    font-family: "RobotoMedium";
    font-weight: bold;
    font-size: 2.8em;
  }
  .DescargaApp p{
    font-family: "RobotoMedium";
    margin-bottom: 10%;
  }
  .appStore{
    margin: 0 3% 0 0;
  }
  .phone{
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
  }

  /*
  Verde
  #44D62C

  Gris claro
  #A2A2A2

  Gris
  #5E5B5C

  Gris oscuro
  #383838

  Blanco :v
  #FFFFFF

  */


  .owl-carousel .owl-stage {
    display: flex!important;
    align-items: center!important;
}
.texto_proposito{
  display: flex;
  line-height: 1;
}
.line-title{
  width: 10%;
  height: 1px;
  background-color: #44D62C;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  margin-left: 2%;
}
.container_data{
//   padding-left: 20%;
}
.phone{
  text-align: right;
}
.pdt-5{
  padding-top: 5%;
}
.mgt-5{
  margin-top: -5%;
}

.owl-carousel .owl-item{
    margin:auto!important;
}
  .owl-carousel,.caption {
    text-align: center!important;
  }
  .title{
    height: fit-content;
    margin-top: auto;
  }

.title_card{
    color: $verde;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}

.description_card{
    font-family: RobotoLight;
    color: $gris;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    span{
    font-family: RobotoBold;
    color: $Oscuro;

    }
}
.description_card ul li{
    font-family: RobotoLight;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    span{
        color: $gris;
        font-family: RobotoBold;
    }
}
.container_data{
    justify-content: center;
    /* border: 1px solid #44D62C; */
    border-radius: 35px;
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    /* padding-bottom: 15%; */
    /* min-height: 48vh; */
    /* box-shadow: 1px 1px 50px -20px #00000073; */
    // background-color: white;
}
.padding-w-5{
    padding-left: 5%;
    padding-right: 5%;
}
.description_card{
    margin: auto;
}
.padding-h-5{
    padding-top: 5%;
    padding-bottom: 5%;
}
.center{
    justify-items: center;
}
.title_valores{
    color: $verde;
    text-align: center;
    width: 100%;
}
.img_valores{
    width: 80%;
    margin: auto;
}
.fondo_cuadros{
    background-image: url(./../../../assets/images/cuadro-mision-vision.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px;
    border-radius: 52px;
    min-height: 482px;
    max-height: 482px;
    display: flex;
}
.button_mas{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px;
    border-radius: 52px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.button_mas:hover{
    box-shadow: rgba(60,210,34, 0.5) 0px 0px 15px 5px;
}
.fondo_cuadros2{
    background-image: url(./../../../assets/images/cuadro-proposito-valores.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px;
    border-radius: 52px;
    min-height: 410px;
    max-height: 410px;
    display: flex;
}
.w-50d{
    width: 50%;
}
@media only screen and (max-width: 1500px){
  .contain_img_row img{
    width: 100%;
  }
}
@media only screen and (max-width: 1000px){
  .mb_auto2{
      margin-bottom: 1rem;
      margin-top: 1rem;
  }
  .w-50d{
    width: 100%;
}
.description_card.largo{
    font-size: 0.8rem;

}
  .description_card ul li{
    font-family: RobotoLight;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    span{
        color: $gris;
        font-family: RobotoBold;
    }
}
  h1{
    font-size: 1.7em;
  }
  .content_img{
    margin-left: 0 !important;
  }
  .title{
    text-align: center;
    color:#5E5B5C!important;
  }
  .conoce{
    width: 100%;
    margin: 0 !important;
  }
  .logoI{
    display: none;
  }
  .title2{
    margin-top: 5%;
  }
  .contain_img_row img{
    width: 100%;
  }
  .DescargaApp{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .phone{
    width: 100%;
  }
  .phone img{
    width: 100%;
  }
  .contain_img{
    width: 100%;
    display: flex;
    margin-bottom: 8%;
  }
  .contain_img img{
    width: 45%;
    margin: auto;
  }
  .container_data{
    padding-left: 15%;
    padding-right: 15%;
  }
  .texto_proposito{
    font-size: 1.5em;
  }
  .puntos12,.bottela_logo{
    display: none !important;
  }
  .DescargaApp h1{
    font-size: 1.5em;
  }
  .phone{
    margin-bottom: 10%;
  }
  .contain_img_row{
    background-size: 260%;
  }
  .DescargaApp{
    margin-top: 10%;
  }
  .container_title_row{
    padding-top: 10%;
    padding-left: 0;
    padding-right: 0;
  }
}


@media only screen and (max-width: 1000px){
    .mision{
        font-size: 1rem;
    }
    .title_page{
        font-size: 3em;
    }
    .sub_title_pais{
        font-size: 0.7em;
    }
    .text_codigo{
        font-size: 1.5em;
        text-align: center !important;
    }
    .d-inline{
        display: flex !important;
    }
    .descargar_forma{
        margin: auto !important;
    }
    .col_green{
        display: none;
    }
    .container_data{
        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .title_valores{
        font-size: 2.5em;
    }
    .title_politica{
        text-align: center;
        font-size: 2em;
    }
    .sub_title{
        font-size: 1.6em;
    }
    .description_politica{
        font-size: 1em;
    }
    .padding-w-15{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .card_producto{
        width: 100%;
    }
    .img_personas{
        height: 40vh;
    }
    .vh-100{
        height: fit-content;
    }
    .description_card{
        width: 95%;
    }
}
