@font-face {
    font-family: "Impacted";
    src: url("./../../../assets/fonts/Impacted.ttf");
    src: url('./../../../assets/fonts/Impacted.eot');
    src: url('./../../../assets/fonts/Impacted.eot?#iefix') format('embedded-opentype'),
        url('./../../../assets/fonts/Impacted.woff2') format('woff2'),
        url('./../../../assets/fonts/Impacted.woff') format('woff'),
        url('./../../../assets/fonts/Impacted.ttf') format('truetype');
}
@font-face {
    font-family: "Impact"  !important;
    src: url('./../../../assets/fonts/Impact.eot');
    src: url('./../../../assets/fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('./../../../assets/fonts/Impact.woff2') format('woff2'),
        url('./../../../assets/fonts/Impact.woff') format('woff'),
        url('./../../../assets/fonts/Impact.ttf') format('truetype');
}
@font-face{
    font-family: "Roboto-light";
    src: url("./../../../assets/fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "robotoCon";
    src: url("./../../../assets/fonts/roboto-condensed.bold.ttf");
}
@font-face{
    font-family: "rooto-text";
    src: url("./../../../assets/fonts/RobotoCondensed-Regular.ttf");
}
$verde: #44D62C;
$gris: #A2A2A2;
$Oscuro: #383838;
$blanco: #fff;
$morado: #A456B4;
$verde-c:#79C61B;
$rojo-c:#D83239;
$verde-2:#88C645;
$purpura: #9D3FD3;
$celeste:#50ABED;
$rosado: #E06B70;
.title_page{
    color: $Oscuro;
    text-align: right;
    width: 100%;
    font-size: 3em;
    margin-bottom: 3%;
}
select{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    text-align-last:center;
}
.color1{
    background-color: #99679B;
}
.color2{
    background-color: #79C61B;
}
.color3{
    background-color: #D54A55;
}
.color4{
    background-color: #50ABED;
}

.sub_title_pais{
    color: $Oscuro;
    font-size: 1.4em;
}
.text_codigo{
    color: $Oscuro;
    font-size: 3em;
}
.row{
    width: 100%;
    margin: 0;
}

.padding-0{
    padding: 0 !important;
}
.p-5{
    padding-left: 5%;
    padding-right: 5%;
}
.vh-100{
    height: 100vh;
}
.contain_img{
    background-image: url();
    background-size: cover;
    background-position: center center;
}
.col_green{
    background-color: $verde;
}
.video{
    width: 100%;
    height: 100vh;
}
.title_card{
    color: $verde;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}
.description_card{
    color: $gris;
    width: 80%;
    text-align: center;
}
.container_data{
    justify-content: center;
    border: 1px solid #44D62C;
    border-radius: 35px;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 15%;
    min-height: 48vh;
    box-shadow: 1px 1px 50px -20px #00000073;
    background-color: white;
}
.padding-w-5{
    padding-left: 5%;
    padding-right: 5%;
}
.description_card{
    margin: auto;
}
.padding-h-5{
    padding-top: 5%;
    padding-bottom: 5%;
}
.center{
    justify-items: center;
}
.title_valores{
    color: $verde;
    text-align: center;
    width: 100%;
}
.img_valores{
    width: 80%;
    margin: auto;
}
.img_personas{
    background-image: url(../../../assets/images/Nosotros/Modulo-4/2019-09-23.png);
    background-size: cover;
    background-position: center center;
}
.politicas_calidad{
    background-color: $Oscuro;
    padding: 5%;
}
.title_politica{
    color: $verde;
    font-size: 4em;
}
.sub_title{
    font-size: 2.6em;
    padding: 1em 0;
}

.sub_title,.description_politica{
    color: white;
}
.description_politica{
    font-size: 1.8em;
}
.card_producto{
    border: 1px solid #44D62C;
    border-radius: 35px;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding: 6% 3%;
    min-height: 60vh;
    box-shadow: 1px 1px 50px -20px #00000073;
    margin-bottom: 15%;
    justify-content: flex-start;
}

.logo_card{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-image: url(../../../assets/images/Nosotros/Modulo-4/cuadros_cierre.png);
    background-size: cover;
    height: 30vh;
}
.first_row{
    background-image: url(../../../assets/images/Nosotros/Modulo-1/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.pt-10{
    padding-top: 10%;
}
.title_1{
    color: $rosado;
}
.title_2{
    color: $celeste;
}
.title_3{
    color: $verde-c;
}
.title_4{
    color: $morado;
}
.title_1,.title_2,.title_3,.title_4{
    font-size: 1.8em;
}
.description_card{
    font-size: 1.2em;
}
.padding-w-15{
    padding-left: 15%;
    padding-right: 15%;
}
.row_mvp{
    background-image: url(../../../assets/images/Nosotros/Modulo-2/fondo-puntos.png);
    background-size: cover;
    background-position: center top;
}
.vh-100{
    height: fit-content;
    min-height: 100vh;
}
.no-margin, .no-margin *{
    margin: 0px!important;
}
.no-padding, .no-padding *{
    padding: 0px!important;
}
.collage-50{
    height: 100%;
    width: auto;
}
.politica{
    font-family: "Impact"  !important;
    background-image: url(./../../../assets/images/Nosotros/fondo-numeros.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 1rem;
}
.politica-2 img{
    width: auto;
    max-width: 100%;
}
.politica-2{
    width: 100%;
    display: flex;
}
.px-10{
    padding-left: 10%;
    padding-right: 10%;
}
.w-20{
    width: 20%;
}
.container_data{
    justify-content: center;
    /* border: 1px solid #44D62C; */
    border-radius: 35px;
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    /* padding-bottom: 15%; */
    /* min-height: 48vh; */
    /* box-shadow: 1px 1px 50px -20px #00000073; */
    // background-color: white;
}
.proposito{
    background-image: url(./../../../assets/images/Nosotros/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00588B;
}
.collage{
    background-image: url(./../../../assets/images/Nosotros/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F9B233;
}
.historia-1-iz{
    background-image: url(./../../../assets/images/Nosotros/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    background-color: rgba(164, 86, 180,0.7);

}
.historia-2-iz{
    background-image: url(../../../assets/images/Home/Modulo-1/fondo22.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;

}
.historia-3-iz{
    background-image: url(./../../../assets/images/Nosotros/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    background-color: #79C61B;

}
.historia-4-iz{
    background-image: url(../../../assets/images/Home/Modulo-1/fondo22.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;

}
.historia-1-der{
    background-image: url(../../../assets/images/Home/Modulo-1/fondo22.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;

}
.historia-2-der{
    background-image: url(./../../../assets/images/Nosotros/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    background-color: rgba(216, 50, 57,0.7);

}
.historia-3-der{
    background-image: url(../../../assets/images/Home/Modulo-1/fondo22.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;

}
.historia-4-der{
    background-image: url(./../../../assets/images/Nosotros/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    background-color: #50ABED;

}
.politica-mejora{
    background-image: url(./../../../assets/images/Nosotros/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F9B233;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: "ImpImpact-light";
    color: #ffffff;
}
.politicas{

}
.politicas-mejora{
    font-family: "Impact"  !important !important;
}
.w-auto{
    height: auto;

}

.historia-texto{
    display: block;
    margin: auto;
    color: #ffffff;
    font-family: "Impact"  !important;
    .historia-titulo{
        color: #A2A2A2;
        border-color: #A2A2A2;
        border: solid 2px;
        display: block;

    }
    .historia-sub-titulo{

    }
    .historia-parrafo {

    }

}
.proposito .ng-tns-c5-0{
    text-align: center;
}
.content-proposito{
    display: flex;
    padding: 1% !important;
}
.proposito h1{
    color: white;
    text-align: center;
    font-size: 4em;
    width: fit-content;
    margin: auto !important;
    border: 1px solid white;
    height: fit-content;
    margin-top: 20vh !important;
    line-height: 0.95;
}
.content-proposito2{
    color: $Oscuro;
    width: auto;
    border: 1px solid $Oscuro;
    line-height: 0.95;
}
.content-description h5{
    color: white;
    /* width: 40%; */
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left !important;
    padding-top: 7vh !important;
    font-family: "Roboto-light" !important;
    font-weight: 100 !important;
    padding-left: 30% !important;
    padding-right: 15% !important;
    font-size: 2em;


}
.contain_title_v h1{
    color: white;
    font-size: 5em;
    border: 1px solid white;
    width: fit-content;
    padding: 1%;
    line-height: 0.95;
    margin-bottom: 5%;
    font-family: "Impact"  !important;
}
.contain_title_v{
    padding-left: 18%;
    margin-top: auto;
}
.middle-height{
    height: 50vh;
}
.content-img{
    margin-bottom: auto;
}
.first h3{
    color: #5e5b5d;
    font-family: "robotoCon";
}
.first p{
    color: #5e5b5d;
    font-weight: 100;

}
.historia-texto{
    padding-left: 10%;
    padding-right: 20%;
}
.historia-texto h1{
    width: fit-content;
    padding: 2%;
    font-size: 3em;
}
.historia-texto h3{
    font-family: "robotoCon";
}
.historia-texto p{
    font-family: rooto-text;
    font-size: 1.5em;
}
.title_gestion{
    font-family: "Impact"  !important !important;
}
.content_data{
    display: flex;
    flex-direction: column;
}
.content_img_valores div{
    height: 20vh;

}
.content-icons{
    padding-left: 15%;
}
.content_img_steps{
    margin-top: 5%;
}
.title_page{
    font-size: 5em;
    text-align: center;
    font-family: "Impact"  !important;
    text-transform: uppercase;
    color: #5e5b5d;

}

.certificaciones_title{
    color: #5e5b5d;
    border-color: #5e5b5d;
    border: solid 2px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1% 3%;
    font-size: 4em;
    font-family: "Impact"  !important !important;
}
.end-page{
    width: 100%;
    background-image: url(./../../../assets/images/points.png);
    background-size: cover;
    background-repeat: none;
    height: 30vh;
    margin-top: 10%;

}
.img-data{
    height: 70% !important;
}
.politicas-mejora{
    max-height: 100vh;
}
.h-50 {
    height: 50vh !important;
}
.vh-100{
    height: 100vh !important;
    width: 100%;
}
.content-proposito h1{
    font-family: "Impact"  !important !important;
    font-size: 5em;
}
.no-padding1{
    padding: 0 !important;
}
.titulo_equipo{
    color: white !important;
    text-align: center;
    width: 100% !important;
    font-size: 2em;
    font-family: "Impact"  !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin: 0 !important;
}
.container_form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.new_padding{
    padding-left: 25%;
    padding-right: 25%;
}
.input_d{
    width: 100%;
    background: transparent;
    color: white;
    border-radius: 8px;
    padding-left: 30px;
    box-shadow: none;
    border-color: white !important;
    margin-bottom: 10px !important;
    border: 1px solid white;
    font-size: 1.4em;
}

.upload{
    width: 184px;
    height: 136px;
    cursor: pointer;  
    transition-duration: 1s;
    margin-left: auto;
    margin-right: auto;
}
#send{
    margin-top: 5%;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.upload:hover{
    filter: grayscale(75%);
    transform: scale(1.1);
}
.conteiner_data{
    min-height: 100vh;
}
.input_d::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
.input_d:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
.input_d::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
@media only screen and (max-width: 1000px){
    .content_form{
        margin: auto !important;
        flex-direction: column;
    }
    .container_form{
        padding: 0vh !important;
        padding-top: 0vh !important;
        padding-bottom: 5vh !important;
    }
    .proposito h1{
        margin-top: 5vh !important;
        margin-bottom: 5vh !important;
    }
    .politicas-mejora{
        min-height: 100vh;
        max-height: inherit;
    }
    .w-50{
        width: 100% !important;
    }
    .middle-height{
        height: fit-content;
        min-height: 50vh !important;
    }
    .historia-titulo{
        margin: auto !important;
    }
    .certificaciones_title{
        font-size: 2.3em;
    }
    .content_img_valores div{
        width: 50% !important;
    }
    .contain_title_v{
        padding: 0;
    }
    .content-description h5{
        padding: 5% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        font-size: 1.5em;
    }
    .content-proposito h1{
        font-size: 4em !important;
    }

    .content-icons div{
        margin: 10%;
    }
    .contain_title_v h1{
        margin: 10% auto;
    }
    .content-icons{
        padding: 0;
    }
    .historia-texto{
        padding: 0 !important;
        margin-top: 5%;
    }
    .politica-mejora{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .img-middle{
        height: 50vh !important;
    }
    .content_img_steps div{
        padding: 10% !important;
    }
    .title_page{
        font-size: 2em;
    }
    .sub_title_pais{
        font-size: 0.7em;
    }
    .text_codigo{
        font-size: 1.5em;
        text-align: center !important;
    }
    .d-inline{
        display: flex !important;
    }
    .descargar_forma{
        margin: auto !important;
    }
    .col_green{
        display: none;
    }
    .container_data{
        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .title_valores{
        font-size: 2.5em;
    }
    .title_politica{
        text-align: center;
        font-size: 2em;
    }
    .sub_title{
        font-size: 1.6em;
    }
    .description_politica{
        font-size: 1em;
    }
    .padding-w-15{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .card_producto{
        width: 100%;
    }
    .img_personas{
        height: 40vh;
    }
    .vh-100{
        height: fit-content;
    }
    .description_card{
        width: 95%;
    }
}
