<div id="row_1" class="row ">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mt-3 ml-3 logo_contacto">
                <img src="./../../../../assets/images/logo-animado.gif" [routerLink]="['./../home']" class="logo fondo pointer">
                <!-- <img src="./../../../../assets/images/Mercados/Modulo-1/logo.png" [routerLink]="['./../../home']" class="logo"> -->
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 cloumn1 paddingt-5 border-b">

            <div class="row paddingr-10">

                <form id="contact" #contactForm="ngForm">
                    <legend>Contáctanos</legend>

                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="selectedData.nombre" id="nombre" #nombre="ngModel" name="nombre" placeholder="Nombre">
                    </div>

                    <div class="input-group">
                        <input type="email" class="form-control" [(ngModel)]="selectedData.emailSend" id="emailSend" #emailSend="ngModel" name="emailSend" placeholder="Email">
                    </div>

                    <div class="input-group">
                        <input type="phone" class="form-control" [(ngModel)]="selectedData.telefono" id="telefono" #telefono="ngModel" name="telefono" placeholder="Teléfono">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="selectedData.asunto" id="asunto" #asunto="ngModel" name="asunto" placeholder="Asunto">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="selectedData.pais" id="pais" #pais="ngModel" name="pais" placeholder="País">
                    </div>
                    <div class="input-group">

                    <select name="marca" id="marca" class="form-control" required="required" [(ngModel)]="selectedData.marca">
                        <option value="Seleccione un mercado" disabled hidden>Seleccione un mercado</option>
                        <option *ngFor="let data of Table" [value]="data.id">
                            <img [src]="data.icono" style="width: 10xp;height: 10px;">
                            {{data.nombre}}
                        </option>
                    </select>

                    </div>

                    <div class="input-group">

                        <textarea name="mensaje" id="mensaje" class="form-control" rows="3" required="required" [(ngModel)]="selectedData.mensaje" placeholder="Escribir mensaje..."></textarea>

                    </div>

                    <div class="input-group">
                        <button type="button" class="btn btn-primary ingrup-btn" (click)="contact(selectedData)">Enviar</button>
                        <label class="descriptino_mail">O escríbenos al correo: <span class="my-mail">info@ingruplatam.com</span></label>
                    </div>




                </form>

            </div>

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <div class="row paddingr-10 w-100">
                    <h2 class="title">Proveedores</h2>
                    <p class="description_proveedores">
                        Si eres un proveedor y buscas trabajar con nosotros haz clic en el botón a continuación y envíanos tu solicitud al correo electrónico:<br>
                        suministrosingrup@icasa.com.gt
                    </p>
                    <button id="button_forma"></button>
            </div>

        </div>

    </div>
    <div id="row_2" class="row paddingt-5 border-b vh100">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ngb-accordion class="row paddingr-20 container_mapas" #acc="ngbAccordion" activeIds="config-panel-one">

                            <ngb-panel class="text_pais"  id="config-panel-one">
                                <ng-template ngbPanelTitle class="w-100">

                                    <h3>Guatemala</h3>
                                    <img class="row_pais" src="./../../../assets/images/flecha.png">
                                </ng-template>
                              <ng-template ngbPanelContent>
                                    Av. Petapa y 56 Calle, Zona 12 Ciudad de Guatemala, Guatemala.<br>

                                    Tel. + (502) 2326-5600
                              </ng-template>
                              <img class="row_pais" src="./../../../assets/images/flecha.png">
                            </ngb-panel>
                            <ngb-panel  >
                                    <ng-template ngbPanelTitle  class="w-100">

                                            <h3>El Salvador</h3>
                                            <img class="row_pais" src="./../../../assets/images/flecha.png">
                                        </ng-template>
                              <ng-template ngbPanelContent>
                                    Boulevard Bayer, Calle L1, Edificio Salaverría Cáceres, Bodegas 1 y 2, Merliot, El Salvador<br>

                                    Tel.+(503) 2278-7918
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel  >
                                    <ng-template ngbPanelTitle class="w-100">

                                            <h3>Honduras</h3>
                                            <img class="row_pais" src="./../../../assets/images/flecha.png">
                                        </ng-template>
                                <ng-template ngbPanelContent>
                                        Km. 13 Desvío a Residencial Monte María, Dos Caminos, Villanueva, Cortés, Honduras.<br>

                                        Tel. + (504) 2670-2220
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel  >
                                    <ng-template ngbPanelTitle class="w-100">

                                            <h3>Nicaragua</h3>
                                            <img class="row_pais" src="./../../../assets/images/flecha.png">
                                        </ng-template>
                                <ng-template ngbPanelContent>
                                        km 7.5 Carretera Norte, de la Kativo 50 mts al Este<br>
                                        Tel. + (505) 2249-4794
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel  >
                                    <ng-template ngbPanelTitle class="w-100">

                                            <h3>Costa Rica</h3>
                                            <img class="row_pais" src="./../../../assets/images/flecha.png">
                                        </ng-template>
                                <ng-template ngbPanelContent>
                                        De la Cervecería C.R. 1 Km. al Este, San Joaquín de Flores, Heredia, Costa Rica<br>

                                        Tel. + (506) 2265-6500
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel  >
                                    <ng-template ngbPanelTitle class="w-100">

                                            <h3>Panamá</h3>
                                            <img class="row_pais" src="./../../../assets/images/flecha.png">
                                        </ng-template>
                                <ng-template ngbPanelContent>
                                        Calle 50, PH Torre Global Bank,
                                        Piso 25, Of. 2501
                                        Ciudad de Panamá, Panamá<br>

                                        Tel. + (507)340-3287 / 3288
                                </ng-template>
                            </ngb-panel>
                          </ngb-accordion>


            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 cloumn1 d-flex">
                <img class="mapa m-auto" src="././../../../assets/images/mapa.png">
            </div>
            <div class="buttons">

            </div>

        </div>
